# Build directories
build/
bin/
out/
x64/
Debug/
Release/

# Visual Studio
.vs/
*.suo
*.user
*.VC.db

# build artifacts
*.exe
*.obj
*.pdb
*.ilk
*.log
*.idb
*.tlog
*.recipe

# General   
*.tmp  
*.cache